[Unit]
Description=Start tmux in detached session

[Service]
Type=forking
ExecStart=/usr/sbin/tmuxinator home
ExecStop=/usr/bin/tmux kill-server

[Install]
WantedBy=default.target