[Unit]
Description=Redshift display colour temperature adjustment
Documentation=http://jonls.dk/redshift/

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/redshift
Restart=always

[Install]
WantedBy=default.target
