## fish settings
set fish_greeting # Disable greeting

# set manually once...
# fish_config theme save Nord

## plugin settings
set fzf_directory_opts --preview=""

# kubeswitch
switcher init fish | source
