## fish settings
set fish_greeting # Disable greeting

# set manually once...
# fish_config theme save Nord

## plugin settings
set fzf_directory_opts --preview=""


## bindings
bind --preset / pager-toggle-search
bind --preset \t complete-and-search
bind --preset \cw backward-kill-word

{{ include "dot_config/fish/conf.d//aliases.fish" -}}

# kubeswitch
switcher init fish | source
