/.antigen
/.cargo
/.config/dconf
/.config/discordcanary
/.config/google-chrome*
/.config/menus
/.config/pavucontrol.ini
/.config/pulse
/.config/ranger/*
!/.config/ranger/rc.conf
/.config/systemd/user/*.wants
/.esd_auth  
/.gnome  
/.gnupg
!/.gnupg/gpg.conf
!/.gnupg/gpg-agent.conf
/.histfile
/.IdeaIC2017.1/system
/.IdeaIC2017.1/config/*
!/.IdeaIC2017.1/config/options
/.IdeaIC2017.1/config/options/*
!/.IdeaIC2017.1/config/options/keymap.xml
!/.IdeaIC2017.1/config/keymaps
/.java
/.lesshst
/.local/share/applications/*
!/.local/share/applications/emacsclient.desktop
/.local/share/desktop-directories
/.local/share/icons
/.local/share/recently-used.xbel
/.nv
/.nvidia-settings-rc
/.oracle_jre_usage  
/.pki
/.ssh
/.wget-hsts
/.Xauthority  
/.yadm/repo.git
/.zcompdump
/IdeaProjects
/Downloads
/qa