[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule ".emacs.d"]
	path = .emacs.d
	url = ./.emacs.d
[submodule ".password-store"]
	path = .password-store
	url = git@github.com:Croissong/.pws.git
