[submodule "dotbot"]
	path = dotbot
	url = git@github.com:anishathalye/dotbot.git
  branch = master
[submodule ".pws"]
	path = .pws
	url = git@github.com:Croissong/.pws.git
  branch = master
[submodule ".emacs.d"]
	path = .emacs.d
	url = git@github.com:Croissong/.emacs.d.git
	branch = master
[submodule "arch"]
	path = arch
	url = git@github.com:Croissong/arch.git
