[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/Croissong/.emacs
	branch = master
[submodule ".pws"]
	path = .pws
	url = https://github.com/Croissong/.pws
