/.cargo
/.config/google-chrome*
/.config/menus
/.config/pulse
/.config/ranger/*
!/.config/ranger/rc.conf
/.esd_auth  
/.gnome  
.gnupg
!.gnupg/gpg.conf
!.gnupg/gpg-agent.conf
/.histfile
/.IdeaIC2017.1/system
/.IdeaIC2017.1/config/*
!/.IdeaIC2017.1/config/options
/.IdeaIC2017.1/config/options/*
!/.IdeaIC2017.1/config/options/keymap.xml
!/.IdeaIC2017.1/config/keymaps
/.java
/.local/share/applications/*
!/.local/share/applications/emacsclient.desktop
/.local/share/desktop-directories
/.local/share/icons
/.oracle_jre_usage  
/.pki  
/.ssh
/.wget-hsts
/.Xauthority  
/.yadm/repo.git
/.zcompdump
/IdeaProjects  
/qa