/.antigen
/.cargo
/.config/configstore
/.config/dconf
/.config/discordcanary
/.config/google-chrome*
/.config/menus
/.config/mpv/watch_later
/.config/pavucontrol.ini
/.config/pulse
/.config/ranger/*
!/.config/ranger/rc.conf
/.config/systemd/user/*.wants
/.config/yarn/link
/.config/yarn/global/node_modules
/.esd_auth
/.gem
/.gnome  
/.gnupg
!/.gnupg/gpg.conf
!/.gnupg/gpg-agent.conf
/.hex
/.histfile
/.IdeaIC2017.1/system
/.IdeaIC2017.1/config/*
!/.IdeaIC2017.1/config/options
/.IdeaIC2017.1/config/options/*
!/.IdeaIC2017.1/config/options/keymap.xml
!/.IdeaIC2017.1/config/keymaps
/.java
/.lesshst
/.local/share/applications/*
!/.local/share/applications/emacsclient.desktop
/.local/share/desktop-directories
/.local/share/icons
/.local/share/recently-used.xbel
/.local/share/Trash
/.mix
/.nimble
/.node-gyp
/.npm
/.nv
/.nvidia-settings-rc
/.oracle_jre_usage
/.psql_history
/.pki
/.ssh/id_rsa*
/.wget-hsts
/.Xauthority  
/.yadm/repo.git
/.yarnrc
/.zcompdump
/IdeaProjects
/code
/Downloads
/qa
.wakatime.db  