# TODO: https://wiki.archlinux.org/index.php/Systemd/User#Environment_variables
set -a
.  <(systemctl --user show-environment)
set +a
HISTORY_IGNORE="(ls *|pwd|pass *|gopass *)"
HISTTIMEFORMAT="%d.%m.%y %T "
HISTFILE=$HOME/.histfile
HISTSIZE=10000
SAVEHIST=10000
export ALTERNATE_EDITOR=""
export JAVA_HOME=/usr/lib/jvm/java-11-openjdk
export LESS='IMR'
export VISUAL="emacsclient"
export SUMMON_PROVIDER=/usr/bin/gopass

export GOPASS_NO_NOTIFY=true

setopt HIST_NO_FUNCTIONS
setopt HIST_REDUCE_BLANKS

export LS_COLORS='di=34;40:ln=35;40:so=32;40:pi=33;40:ex=31;40:bd=34;46:cd=34;43:su=0;41:sg=0;46:tw=0;42:ow=0;43:'

# todo https://github.com/zoresvit/dotfiles/blob/master/bash/.bashrc.local
