if [ -z "$TMUX" ]; then
    smug start home
else

    {{ include "shell/zinit.sh" | nindent 4 }}

    autoload -Uz compinit
    () {
      setopt extendedglob local_options
      if [[ -n ${ZDOTDIR:-$HOME}/.zcompdump(#qN.mh+24) ]]; then
         compinit
      else
        compinit -C
      fi
    }

    {{ include "shell/keybinds.sh" | nindent 4 }}
    {{ include "shell/alias.sh" | nindent 4 }}
    {{ include "shell/functions.sh" | nindent 4 }}
    {{ include "shell/options.sh" | nindent 4 }}
    {{ include "shell/env-vars.sh" | nindent 4 }}
    {{ include "shell/fzf.sh" | nindent 4 }}


    eval "$(starship init zsh)"
    eval "$(zoxide init --cmd c zsh)"


    source $XDG_CONFIG_HOME/broot/launcher/bash/br

    zstyle ':completion:*' insert-tab false
    zstyle ':completion:*' menu select

    # auto url quoting
    autoload -Uz bracketed-paste-magic
    zle -N bracketed-paste bracketed-paste-magic
    autoload -Uz url-quote-magic
    zle -N self-insert url-quote-magic

    eval "$(direnv hook zsh)"
fi
