# https://github.com/pdobsan/mailctl/blob/main/configs/config-template.yaml

services_file: {{.chezmoi.homeDir}}/.config/mailctl/services.yaml
oauth2_dir: {{.chezmoi.homeDir}}/.local/state/mailctl

encrypt_cmd:
  exec: age
  args:
    - --identity
    - {{.chezmoi.homeDir}}/.config/age/identity.age
    - --encrypt
    - -o
decrypt_cmd:
  exec: age
  args:
    - --identity
    - {{.chezmoi.homeDir}}/.config/age/identity.age
    - --decrypt
