(
    address: "Neu Wulmstorf,DE",
    language: "en_US",
    forecast: [day, week],
    units: (
        temperature: celsius,
        speed: kmh,
        time: military,
        precipitation: probability,
    ),
    gui: (
        border: rounded,
        color: default,
        graph: (
            style: lines(solid),
            rowspan: double,
            time_indicator: true,
        ),
        greeting: false,
    ),
)
