# https://github.com/OfflineIMAP/offlineimap/blob/master/offlineimap.conf
[general]
accounts = iogroup, gmail
maxsyncaccounts = 1
metadata = $XDG_CONFIG_HOME/offlineimap/meta
fsync = false
ui = Basic

[Account iogroup]
localrepository = iogroup_local
remoterepository = iogroup_remote
quick = 10
postsynchook = $XDG_CONFIG_HOME/offlineimap/postsync.sh

[Repository iogroup_local]
type = Maildir
localfolders = ~/mail/iogroup

[Repository iogroup_remote]
type = IMAP
maxconnections = 3
remoteuser = {{ (secretJSON "-d" "--output-type=json" "secrets.yml").offlineimap.iogroup.user }}
remotepass = {{ (secretJSON "-d" "--output-type=json" "secrets.yml").offlineimap.iogroup.password }}
remotehost = outlook.office365.com
remoteport = 993
ssl = yes
sslcacertfile = /etc/ssl/certs/ca-certificates.crt

[Account gmail]
localrepository = gmail_local
remoterepository = gmail_remote
quick = 10
postsynchook = $XDG_CONFIG_HOME/offlineimap/postsync.sh

[Repository gmail_local]
type = GmailMaildir
localfolders = ~/mail/gmail

[Repository gmail_remote]
type = Gmail
maxconnections = 3
remoteuser = {{ (secretJSON "-d" "--output-type=json" "secrets.yml").offlineimap.gmail.user }}
remotepass = {{ (secretJSON "-d" "--output-type=json" "secrets.yml").offlineimap.gmail.password }}
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
ssl_version = tls1_2
auth_mechanisms = XOAUTH2
# folderfilter = lambda foldername: foldername not in ['[Google Mail]/All Mail']
oauth2_client_id = {{ (secretJSON "-d" "--output-type=json" "secrets.yml").offlineimap.gmail.clientId }}
oauth2_client_secret = {{ (secretJSON "-d" "--output-type=json" "secrets.yml").offlineimap.gmail.clientSecret }}
oauth2_request_url = https://accounts.google.com/o/oauth2/token
oauth2_refresh_token = {{ (secretJSON "-d" "--output-type=json" "secrets.yml").offlineimap.gmail.refreshToken }}
