[misc]
only = ["krew", "sheldon", "cargo", "firmware", "custom_commands"] # "chezmoi",

skip_notify = true

[firmware]
upgrade = true

[commands]
buku = "$XDG_CONFIG_HOME/topgrade/buku.sh"

krew_export = "$XDG_CONFIG_HOME/topgrade/krew-export.sh"

the_way_export = "$XDG_CONFIG_HOME/topgrade/the_way_export.sh"

gh_stars_export = "$XDG_CONFIG_HOME/topgrade/gh-stars-export.sh"
# "xdg-ninja" = "xdg-ninja"
