[misc]
only = ["krew", "firmware", "custom_commands"] # "chezmoi",

skip_notify = true

[firmware]
upgrade = true

[commands]
buku = "$DOT/dotfiles/dot_config/topgrade/custom/buku-export.fish"

krew_export = "$DOT/dotfiles/dot_config/topgrade/custom/krew-export.fish"

the_way_export = "$DOT/dotfiles/dot_config/topgrade/custom/the-way-export.fish"

gh_stars_export = "$DOT/dotfiles/dot_config/topgrade/custom/gh-stars-export.fish"

spotify_export = "$DOT/dotfiles/dot_config/topgrade/custom/spotify-export.fish"

# "xdg-ninja" = "xdg-ninja"
