# https://github.com/systemd/systemd/issues/7641
set -a
.  <(systemctl --user show-environment)
set +a

# Loading in login shell suffices
# Viddy also requires aliases loaded in login shell
{{ include "dot_config/zsh/.alias.sh" }}
{{ include "dot_config/zsh/.priv.sh" }}
{{ include "dot_config/zsh/.env-vars.sh" }}

if [ "$(tty)" = "/dev/tty1" ]; then
	exec sway
fi
