zstyle ':completion:*' insert-tab false
zstyle ':completion:*' menu select

# TODO: install properly
# tab multiplexer configuration: https://github.com/austinjones/tab-rs/
source ~/.local/share/tab/completion/zsh-history.zsh
# end tab configuration

{{ include "dot_config/zsh/.keybinds.sh" }}
{{ include "dot_config/zsh/.alias.sh" }}
{{ include "dot_config/zsh/.functions.sh" }}
{{ include "dot_config/zsh/.options.sh" }}
{{ include "dot_config/zsh/.env-vars.sh" }}

eval "$(sheldon source)"
