zstyle ':completion:*' insert-tab false
zstyle ':completion:*' menu select

# auto url quoting
autoload -Uz bracketed-paste-magic
zle -N bracketed-paste bracketed-paste-magic
autoload -Uz url-quote-magic
zle -N self-insert url-quote-magic

# TODO: install proper
# tab multiplexer configuration: https://github.com/austinjones/tab-rs/
source ~/.local/share/tab/completion/zsh-history.zsh
source ~/.local/share/tab/completion/_tab
# end tab configuration

{{ include "dot_config/zsh/tmpl/zinit.sh" }}
{{ include "dot_config/zsh/tmpl/fzf.sh" }}

{{ include "dot_config/zsh/tmpl/keybinds.sh" }}
{{ include "dot_config/zsh/tmpl/alias.sh" }}
{{ include "dot_config/zsh/tmpl/functions.sh" }}
{{ include "dot_config/zsh/tmpl/options.sh" }}
{{ include "dot_config/zsh/tmpl/env-vars.sh" }}

eval "$(starship init zsh)"
eval "$(zoxide init --cmd c zsh)"
source $XDG_CONFIG_HOME/broot/launcher/bash/br
