# autorestic backup -a -v | tee /tmp/backedup.txt
# cat /tmp/backedup.txt | jq -r -R '. as $line | try (fromjson | select(.message_type=="verbose_status") | .item) catch $line' | cat

version: 2

locations:
  home:
    from: {{ env "HOME" }}
    to: remote
    hooks:
      before:
        - {{ env "DOT" }}/dotfiles/dot_config/autorestic/excludes.sh
        - {{ env "DOT" }}/dotfiles/dot_config/autorestic/git-gc.sh
    cron: '0 */8 * * *' # every 8th hour.
    options:
      backup:

        ## dev
        # dry-run: true
        # compression: 'off'
        # -v: 2
        # json: true
        ##

        exclude-caches: true
        exclude-file:
          - /tmp/excludes.txt
          - {{ env "DOT" }}/dotfiles/dot_config/autorestic/ignore.txt

backends:
  remote:
    type: s3
    path: 's3.us-west-002.backblazeb2.com/{{ secretJSON "tf" | dig "backup_bon_bucket" "bucket_name" "" }}'
    key: '{{ secretJSON "secrets" | dig "autorestic" "remoteKey" "" }}'
    env:
      AWS_ACCESS_KEY_ID: {{ secretJSON "tf" | dig "backup_bon_bucket" "key_id" "" }}
      AWS_SECRET_ACCESS_KEY: {{ secretJSON "tf" | dig "backup_bon_bucket" "key" "" }}



# https://forum.restic.net/t/determine-status-progress-of-current-backup/5211<
# https://forum.restic.net/t/restic-logfile-list-only-changed-files/2506
# autorestic exec -v -a -- snapshots
# autorestic exec -v -a -- diff 5e9bf982 7323fb53


# RESTIC_PROGRESS_FPS=1 autorestic backup -a -v
