trees:
- root: ~/dot
  repos:
  - name: dotfiles
    worktree_setup: false
    remotes:
    - name: origin
      url: git@github.com:Croissong/dotfiles.git
      type: ssh
  - name: system
    worktree_setup: false
    remotes:
    - name: origin
      url: git@github.com:Croissong/system.git
      type: ssh

  {{ include (expandenv "$DOT/priv/dot/git-repo-manager.yaml") | nindent 2}}

- root: ~/.config
  repos:
  - name: emacs
    worktree_setup: false
    remotes:
    - name: origin
      url: git@github.com:Croissong/emacs.git
      type: ssh
