[core]
	notifications = false
	exportkeys = false
[generate]
  symbols = true
  autoclip = true
[updater]
  check = false
[show]
  autoclip = true
  safecontent = true

{{ include (expandenv "$DOT/priv/dot/gopass.toml") -}}
