# https://newsboat.org/releases/2.29/docs/newsboat.html#_introduction

https://lexfridman.com/feed/podcast/

# https://metaebene.me/updates/
http://raumzeit-podcast.de/feed/opus/
http://cre.fm/feed/opus/
http://forschergeist.de/feed/opus/

https://feeds.acast.com/public/shows/the-rest-is-history-podcast

{{ include "priv/.config/newsboat/urls" }}
