# https://newsboat.org/releases/2.29/docs/newsboat.html#_introduction

https://lexfridman.com/feed/podcast/

# https://metaebene.me/updates/
http://raumzeit-podcast.de/feed/opus/
http://cre.fm/feed/opus/
http://forschergeist.de/feed/opus/

https://www.geschichte.fm/feed/mp3

https://rss.art19.com/tides-of-history

https://feeds.acast.com/public/shows/the-rest-is-history-podcast

http://feeds.libsyn.com/218348/rss # the red line

# The Forum - BBC World Service
https://podcasts.files.bbci.co.uk/p004kln9.rss

https://feeds.acast.com/public/shows/lets-talk-religion

{{ include "priv/.config/newsboat/urls" }}
