secret:
  command: sops
  args:
    - "-d"
    - "--output-type=json"
    - "{{ .chezmoi.sourceDir }}/secrets.yml"
merge.command: emacsscripts
merge.args: ediff3
sourceDir: {{ env "DOT" }}
encryption: gpg
gpg.recipient: jan.moeller0@gmail.com
verbose: true
