secret:
  command: {{ env "DOT" }}/secrets.sh
merge:
  command: emacsscripts
  args: ediff3
sourceDir: {{ env "DOT" }}
encryption: age
age:
  identity: {{ env "AGE_IDENTITY_FILE" }}
  recipientsFile: {{ env "AGE_RECIPIENTS_FILE" }}

verbose: true
diff:
  pager: ''
