sourceDir: {{ env "DOT" }}/dotfiles
secret:
  command: {{ env "DOT" }}/dotfiles/secrets.sh
merge:
  command: emacsscripts
  args: ediff3
encryption: age
age:
  identity: {{ env "AGE_IDENTITY_FILE" }}
  recipientsFile: {{ env "AGE_RECIPIENTS_FILE" }}

verbose: true
diff:
  pager: ''
