secret:
  command: {{ env "DOT" }}/secrets.sh
merge:
  command: emacsscripts
  args: ediff3
sourceDir: {{ env "DOT" }}
encryption: gpg
gpg:
  recipient: jan.moeller0@gmail.com
verbose: true
diff:
  pager: ''
