[Unit]
Description=Start tmux in detached session

[Service]
Type=forking
ExecStart=/usr/sbin/tmux start-server
ExecStop=/usr/bin/tmux kill-server

[Install]
WantedBy=default.target
