# TODO when using nixos:
# https://github.com/Mic92/sops-nix
# https://github.com/polygon/scalpel
{
  mail = {
    datawerk = {
      username = ''{{ secretJSON "secrets" | dig "mail" "datawerk" "user" "" }}'';
      password = ''{{ secretJSON "secrets" | dig "mail" "datawerk" "password" "" }}'';
    };
  };
}
