# TODO when using nixos:
# https://github.com/Mic92/sops-nix
# https://github.com/polygon/scalpel
{
  mail = {
    datawerk = {
      username = ''{{ (secretJSON "-d" "--output-type=json" (print .chezmoi.sourceDir "/secrets.yml")).mail.datawerk.user }}'';
      password = ''{{ (secretJSON "-d" "--output-type=json" (print .chezmoi.sourceDir "/secrets.yml")).mail.datawerk.password }}'';
    };
  };
}
