<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>anonymous</id>
            <username>anonymous</username>
            <password>anonymous</password>
        </server>
        <server>
            <id>mcicd-central</id>
            <username>{{ secretJSON | dig "wrk" "svh" "artifactory" "user" "" }}</username>
            <password>{{ secretJSON | dig "wrk" "svh" "artifactory" "pass" "" }}</password>
        </server>
        <server>
            <id>mcicd-releases</id>
            <username>{{ secretJSON | dig "wrk" "svh" "artifactory" "user" "" }}</username>
            <password>{{ secretJSON | dig "wrk" "svh" "artifactory" "pass" "" }}</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>mcicd-central</id>
            <mirrorOf>*,!mcicd-releases</mirrorOf>
            <name>MCICD Artifactory</name>
            <url>{{ secretJSON | dig "wrk" "svh" "artifactory" "url" "" }}/artifactory/maven-central</url>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>public</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>mcicd-releases</id>
                    <name>MCICD Artifactory</name>
                    <url>{{ secretJSON | dig "wrk" "svh" "artifactory" "url" "" }}/artifactory/magenta-voice-magenta-maven</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

</settings>
