version: 1

default:
  repository: 's3:https://s3.us-west-002.backblazeb2.com/{{ secretJSON "tf" | dig "backup_bon_bucket" "bucket_name" "" }}'
  password-file: repo-pw.txt
  status-file: /home/moi/.local/state/backup-status.json
  force-inactive-lock: true
  lock: "/tmp/resticprofile.lock"

  env:
    AWS_ACCESS_KEY_ID: '{{ secretJSON "tf" | dig "backup_bon_bucket" "key_id" "" }}'
    AWS_SECRET_ACCESS_KEY: '{{ secretJSON "tf" | dig "backup_bon_bucket" "key" "" }}'

  backup:
    run-before:
      - ~/.config/resticprofile/generate-excludes.sh
      - ~/.config/resticprofile/git-gc.sh

    exclude-file:
      - /tmp/generated-excludes.txt
      - ignore.txt
    exclude-caches: true
    one-file-system: true
    source: '{{ env "HOME" }}'

  retention:
    before-backup: false
    after-backup: true
    keep-daily: 30
    keep-hourly: 12
    keep-weekly: 4
    keep-monthly: 12
