[install]
# incompatible with venv
# user = yes
[global]
client-cert = ~/.ssh/svh/client.crt
extra-index-url = https://jm:{{ pass "svh/ssl-archive" }}@smarthub-wbench.wesp.telekom.net/nexus3/repository/pypi-all/simple
