only = ["krew", "sheldon", "cargo", "firmware", "bin", "go", "custom_commands"] # "chezmoi",

skip_notify = true

[firmware]
upgrade = true

[commands]
buku = '''
{{expandenv "$XDG_CONFIG_HOME/topgrade/buku.sh"}} {{expandenv "$DOTFILES/priv"}}
'''
# "xdg-ninja" = "xdg-ninja"
