only = ["krew", "sheldon", "cargo", "firmware", "go", "custom_commands"] # "chezmoi",

skip_notify = true

[firmware]
upgrade = true

[commands]
buku = '''
{{expandenv "$XDG_CONFIG_HOME/topgrade/buku.sh"}} {{expandenv "$DOT/priv"}}
'''

krew_export = '''
$XDG_CONFIG_HOME/topgrade/krew-export.sh
'''

the_way = '''
the-way export > {{expandenv "$DOT/priv"}}/snippets.json
'''
# "xdg-ninja" = "xdg-ninja"
