only = ["krew", "sheldon", "cargo", "firmware", "bin", "go", "custom_commands"] # "chezmoi",

skip_notify = true

[firmware]
upgrade = true

[commands]
buku = '''
buku -p -j {{expandenv "$DOTFILES/priv/buku.json"}}
'''
# "xdg-ninja" = "xdg-ninja"
