[theme]
name = "plain"
[theme.overrides]
idle_fg = "#ebdbb2"

[icons]
name = "awesome5"
[icons.overrides]
bat_full = "100%"
bat_charging = "+"
bat_discharging = "-"


[[block]]
block = "custom"
command = "$XDG_CONFIG_HOME/i3status-rust/pomodoro-block.sh"
json = true
interval = 30

[[block]]
block = "maildir"
interval = 60
inboxes = ["/home/croissong/.local/share/mail/jm@iogroup.org/INBOX"]
threshold_warning = 5
threshold_critical = 10000000
interval = 60
display_type = "new"

[[block]]
block = "load"
interval = 60
format = "{1m}"
icons_format = ""

[[block]]
block = "temperature"
interval = 60
chip = "coretemp-isa-*"
collapsed = false
format = "{average}"
icons_format = ""

[[block]]
block = "battery"
interval = 60
driver = "upower"
device = "DisplayDevice"
format = "{percentage}"

[[block]]
block = "time"
interval = 60
format = "%a %m-%d %H:%M"
icons_format = ""
