[twitch]
username = "Penatencremesuppe"
channel = "Penatencremesuppe"
server = "irc.chat.twitch.tv"
token = "{{ secretJSON | dig "twitchToken" "" }}"

[terminal]
tick_delay = 30
maximum_messages = 150
verbose = false
start_state = "Normal"

[storage]
channels = false
mentions = false

[filters]
enabled = false
reversed = false

[frontend]
date_shown = true
date_format = "%a %b %e %T %Y"
maximum_username_length = 26
username_alignment = "right"
palette = "pastel"
title_shown = true
margin = 0
badges = false
theme = "dark"
username_highlight = true
state_tabs = false
